---
title: Project Calico
description: Home
---

<!-- BLANK -->
{% include header.html %}

    {% include title-group.html %}

    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                	<img src="images/scalable-white.png">
                	<h3>Scalable</h3>
                	<p class="text-muted">Calico scales to tens of thousands of servers and millions of workloads.</p>
                </div>
                <div class="col-md-4 text-center">
                	<img src="images/simple-white.png">
                	<h3>Simple</h3>
                	<p class="text-muted">Easy to deploy, easy to operate, easy to diagnose.</p>
                </div>
                <div class="col-md-4 text-center">
                	<img src="images/github-white.png">
                	<h3>Open</h3>
                	<p class="text-muted">Open source and open standards.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center">
                	<img src="images/workload-white.png">
                	<h3>Any Workload</h3>
                	<p class="text-muted">Supports VM, container and bare metal workloads.</p>
                </div>
                <div class="col-md-4 text-center">
                	<img src="images/ipv6-white.png">
                	<h3>IPv6 Enabled</h3>
                	<p class="text-muted">Supports IPv4 and IPv6.</p>
                </div>
                <div class="col-md-4 text-center">
                	<img src="images/secure-white.png">
                	<h3>Secure</h3>
                	<p class="text-muted">Designed from the ground up to support rich, flexible and secure network policy.</p>
                </div>
            </div>
        </div>
        <div class="container">
            <h1>Read the Docs</h1>
            <a class="btn btn-primary btn-lg" href="docs/" role="button">Calico for Containers</a>
            <a class="btn btn-primary btn-lg" href="http://docs.projectcalico.org/en/1.3.0/openstack.html" role="button">Calico for Openstack</a>

        </div>
    </main>

{% include footer.html %}